<% include ./partials/header %>


<div class = "ui main text container segment">
<h3><strong>About Pembi</strong></h3>

    <div class = "thumbnail">
        <h4>Who Are The Pembis?</h4>
        <p>
            Pembi is the acronym of Pretoria East Mountain Bikers (PEMBi). The group is largely based in Pretoria East and enjoy casual weekend rides. The group was founded in January 2013 by a group of friends to coordinate weekend rides.
            The purpose of the group has remained to post ride plans for the weekend and find a riding buddy.
            
           <ul>
                <li>Social rides of 20-80km at comfortable pace</li>
                <li>Mostly Groenkloof or East Tierpoort area on weekends</li>
                <li>Generally meet Park View/Woodlands area</li>
                <li>We race each other up short uphills ... and we race slow roadies</li>
                <li>We stop to calm our breathing (under the pretence of checking directions)</li>
                <li>We stop to eat, drink & do picnic</li>
                <li>We embrace rain & mud</li>
            </ul> 
                   
            If you are lonely one morning or weekend & looking for some buddies, post your ride here.
            
            Established: 19 January 2013
        </p>
        <div class = "row text-center"><a href = "https://www.facebook.com/groups/134361270058168/"><strong>Pembi Facebook Group</strong></a></div>
        <div class = "row text-center"><a href = "https://www.strava.com/clubs/Pta-East-MTB"><strong>Pembi Strava Club</strong></a></div>
    </div>
</div>

<div class="ui main text container segment">

      <!-- Feautured Bike Parks Section -->
      <h3><strong>Events and Challenges</strong></h3>
         
      <!-- Grid display same as YelpCamp Campgrounds Page-->
      <div class = "row text-center" style = "display: flex; flex-wrap: wrap;">
        <div class = "col-md-3 col-sm-6">
            <div class = "thumbnail">
                <img src = "https://www.imba.com/sites/default/files/WinterPark_828_rgb.jpg" style = "height: 175px">
                <div class = "caption">
                  <h4>Info Evenings</h4>
                </div>
            </div>
        </div>
        <div class = "col-md-3 col-sm-6">
            <div class = "thumbnail">
                <img src = "http://www.ride.co.za/wp-content/uploads/2015/05/thaba1.jpg" style = "height: 175px">
                <div class = "caption">
                    <h4>WTF Challenge</h4>
                    <p style="color:red">February 2018</p>
                </div>
            </div>
        </div>
        <div class = "col-md-3 col-sm-6">
            <div class = "thumbnail">
                <img src = "http://www.avianto.co.za/wp-content/uploads/2017/01/EV_20130824_00165_1.jpg" style = "height: 175px">
                <div class = "caption">
                  <h4>Bike Parks Challenge</h4>
                  <p style="color:red">Launching October 2017</p>
                </div>
            </div>
        </div>
        <div class = "col-md-3 col-sm-6">
            <div class = "thumbnail">
                <img src = "http://www.avianto.co.za/wp-content/uploads/2017/01/EV_20130824_00165_1.jpg" style = "height: 175px">
                <div class = "caption">
                  <h4>Skills Challenge</h4>
                  <p style="color:red">Coming Soon</p>
                </div>
            </div>
        </div>
      </div>
      <!-- End of grid display-->
</div>

<% include ./partials/footer %>