<% include ./partials/header %>


<div class = "ui main text container segment">
    <h3 style="color:red"><strong>Beta Testing</strong></h3>
    <div class = "thumbnail">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>BACKGROUND</strong></div>
                <div class="panel-body">
                    <p>Hi there</p>
                    <p>One of the Pembi objectives is to get people to have fun riding their bicycles. In line with this, we have come up with the Pembi Bike Park Challenge to create a competition format to encourage Pembi's to spend more time riding single track in our bike parks.</p>
                    <p>You are seeing this Beta Testing page as you have been approached to help iron out the kinks the development team may have missed before we officially launch the Bike Park Challenge to the broader Pembi community in a few weeks. We have attached a few guidelines below to help guide you through the site and how to test. It's really quiick and simple.</p>
                    <p>Thank you for helping with the testing. If you find something that doesn't work, please drop me a Whatsapp message or drop us a note at pembiorg@gmail.com</p>
                    <p>Regards</p>
                    <p>Carl</p>
                </div>
            <div class="panel-heading"><strong>HOW TO TEST</strong></div>
                <div class="panel-body">
                    <ol>
                        <li>Signup. Sign yourself onto the website.</li>
                        <li>Login. Will happen automatically after signup but try it once or twice tocheck it works.</li>
                        <li>Get Started. On landing page or from Bike Park Challenge. Step 3. Link your Strava account so we can pick up your bike park segments from Strava.</li>
                        <li>Bike Parks. A list of bike parks in Gauteng.</li>
                        <li>Load Strava Activity. The platform is integrated with Strava. Once you are linked/authorized as per above, the platform will map your segments onto the local bikeparks and log your visit against he park. All automated!</li>
                        <li>Bike Park Challenge. Leaderboard of the challenge. (There is some dummy test data.)</li>
                        <li>My Activities. Your dashboard to see your own activities. Only visible after login.</li>
                    </ol>
                </div>
        </div>
            <div class="panel-body"><a href = "/">Back to Home Page</a></div>
    </div>
</div>

<% include ./partials/footer %>