<% include ./partials/header %>


<div class = "ui main text container segment">
    <h3><strong>Contact Us</strong></h3>
    <div class = "thumbnail">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Contact Information</strong></div>
                <div class="panel-body">
                    <p>e-Mail : pembiorgatgmail.com</p>
                    <p></p>
                </div>
            <div class="panel-heading"><strong>Where to Find Us</strong></div>
                <div class="panel-body">
                    <ul class="list-group">
                        <div>
                            <a href = "https://www.facebook.com/groups/134361270058168/" class="list-group-item">Pembi's on Facebook</a>
                        </div>
                        <div>
                            <a href = "https://www.facebook.com/groups/134361270058168/admins/" class="list-group-item">Pembi Facebook Admins</a>
                        </div>
                        <div>
                            <a href = "https://www.strava.com/clubs/Pta-East-MTB" class="list-group-item">Pembi's on Strava</a>
                        </div>
                    </ul>
                </div>
        </div>
            <div class="panel-body"><a href = "/">Back to Home Page</a></div>
    </div>
</div>

<% include ./partials/footer %>