<% include ./partials/header %>


<div class = "ui main text container segment">
    <h3>Get Started</h3>
    <div class = "thumbnail">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>About the Pembi Bike Park Challenge</strong></div>
                <div class="panel-body">
                    <p>Welcome to the Pembi Bike Park Challenge.</p>
                    <p>Follow the easy steps below to get yourself setup. Once the setup is complete and your Pembi Account is linked with your Strava Account, everything is automated so you can spend your time having fun at the bike parks while the Pembi Platform will take care of matching your rides logged on Strava with the bike parks and keep the leaderboard updated. Let's get going ..</p>
                </div>
            <div class="panel-heading"><strong>How to Enter</strong></div>
                <div class="panel-body">
                    <ul class="list-group">
                        <div>
                            <li class="list-group-item"><strong>Step 1</strong> : Sign up and create your Pembi profile on this website -> <button type="button" class="btn btn-success"><a href="/signup">Click Here</a></button></li>
                        </div>
                        <div>
                            <li class="list-group-item"><strong>Step 2</strong> : Open a Strava Account -> <a href="https://www.strava.com/register/free">Click Here</a>
                            <em>(If you already have a Strava account, go to Step 3)</em></li>
                        </div>
                        <div>
                            <li class="list-group-item"><strong>Step 3</strong> : Link your Strava account to your Pembi Profile to track your park visits automatically -> <a href="/stravaauth">Click Here</a></li>
                        </div>
                        <div>
                            <li class="list-group-item"><strong>Step 4</strong> : Start Riding!</li>
                        </div>
                    </ul>
                </div>
        </div>
            <div class="panel-body"><a href = "/">Back to Home Page</a></div>
    </div>
</div>

<% include ./partials/footer %>