<% include ./partials/header %>


<div class = "ui main text container segment">
  
<div class = "jumbotron">
  <h2 class="my-4">Welcome to the world of Pembis!</h2>
    <h4 class="my-4">"There is nothing, absolutely nothing, quite so worthwhile as simply messing about on bicycles." - Tom Kunich</h4>

    <div>
        <a href = "/showParks">Show all parks</a>
    </div>
    <div>
        <a href = "/showOnePark/5">Show one park</a>
    </div>
    <div>
        <a href = "/showVisitsbyUser/13">Show my visits (user 13)</a>
    </div>
    <div>
        <a href = "/showVisitsbyPark/5">Show Visits for Park</a>
    </div>
    <div>
        <a href = "/leaderboard1">Leaderboard1</a>
    </div>
    <div>
        <a href = "/leaderboard2">Leaderboard2</a>
    </div>
    <div>
        <a href = "/visitForm">visitForm</a>
    </div>
    <div>
        <a href = "/getactivity">Get Activity Detail from Strava</a>
    </div>
    <div>
        <a href = "/stravalinksuccess/194278">Get User Info from Strava</a>
    </div>
    <div>
        <a class = "btn btn-success" href = "/getstarted">Get Started!</a>
    </div>
  
</div>

      
      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100 thumbnail">
            <h4 class="card-header text-center">Bike Park Challenge</h4>
            <div class="card-body">
                <div class = "thumbnail">
                  <img src = "http://www.chatelactivites.com/wp-content/uploads/2015/06/chatel-2015-v10-bd-900x500.jpg" style = "height: 225px">
                </div>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-success">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100 thumbnail">
            <h4 class="card-header text-center">Skills Challenge</h4>
            <div class="card-body">
               <div class = "thumbnail">
                <img src = "http://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/11/2014/02/MTB-skills-bunnyhop-tips1.jpg" style = "height: 225px">
              </div>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-success">Get Started!</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100 thumbnail">
            <h4 class="card-header text-center">Strava Challenge</h4>
            <div class="card-body">
               <div class = "thumbnail">
                <img src = "https://static.bikehub.co.za/forum/uploads/monthly_10_2016/ccs-2-0-22174800-1476166158.jpg" style = "height: 225px">
              </div>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-success">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
      
</div>

<% include ./partials/footer %>