<% include ./partials/header %>


<div class = "ui main text container segment">
  
<div class = "jumbotron">
  <h2 class="my-4">Welcome to the world of Pembis!</h2>
    <h4 class="my-4">"There is nothing, absolutely nothing, quite so worthwhile</h4>
    <h4>as simply messing about on bicycles."</h4>
    <h4> - Tom Kunich</h4>

</div>

      
      <!-- Marketing Icons Section -->
      <div class="row">

        <div class="col-lg-4 mb-4">
          <div class="card h-100 thumbnail">
            <h4 class="card-header text-center">About Pembi's</h4>
            <div class="card-body">
               <div class = "thumbnail">
                <img src = "http://www.landrys.com/merchant/2280/images/site/mtn_group.jpg" style = "height: 225px">
              </div>
              <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>-->
              </div>
            <div class="card-footer">
              <a href="about" class="btn btn-success">What is Pembi?</a>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 mb-4">
          <div class="card h-100 thumbnail">
            <h4 class="card-header text-center">Bike Parks Listing : Gauteng</h4>
            <div class="card-body">
                <div class = "thumbnail">
                  <img src = "http://www.chatelactivites.com/wp-content/uploads/2015/06/chatel-2015-v10-bd-900x500.jpg" style = "height: 225px">
                </div>
              <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>-->
              </div>
            <div class="card-footer">
              <a href="showParks" class="btn btn-success">Find a Bike Park</a>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 mb-4">
          <div class="card h-100 thumbnail">
            <h4 class="card-header text-center">Bike Park Challenge</h4>
            <div class="card-body">
               <div class = "thumbnail">
                <img src = "http://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/11/2014/02/MTB-skills-bunnyhop-tips1.jpg" style = "height: 225px">
              </div>
              <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>-->
            </div>
            <div class="card-footer">
              <a href="getstarted" class="btn btn-success">Get Started</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->
      
</div>

<% include ./partials/footer %>