<% include ./partials/header %>


<div class = "ui main text container segment">
<h3>Questions and Answers</h3>
    <div class = "thumbnail">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Pembi Bike Park Challenge</strong></div>
                <div class="panel-body">
                    <p>Active Period : 1 November 2017 to 31 December 2017
                    <p>Visit as many bike parks in Gauteng during the above period and stand a chance to win ... </p>
                    <p>... to be done ...</p>
                </div>
            <div class="panel-heading"><strong>How Does The Pembi Bike Park Challenge Work?</strong></div>
                <div class="panel-body">
                    <p><strong>How do I log a visit to a bike park?</strong></p>
                    <p>The Pembi Platform is integrated with Strava, so you have to be a Strava member. Once you have linked your Pembi Account with your Strava Account (as per above), your visit to a bike park will be automatically registered by the Segment Matching Engine as soon as you upload your activity to Strava.</p>
                    <p><strong>Can I ride the same park many times?</strong></p>
                    <p>This challenge is to encourage mountain bikers to experience the many different bike parks in Gauteng.</p>
                    <p><strong>How do I leave the challenge?</strong></p>
                    <p>Why would anyone want to leave the challenge? We're having too much fun riding single track!</p>
                    <p><strong>Which bike parks count?</strong></p>
                    <p>Click here for a list of Gauteng bike parks.</p>
                    <p><strong>Missing a bike park?</strong></p>
                    <p>... to be done ...</p>
                    <p><strong>What about bike parks outside of Gauteng?</strong></p>
                    <p>This challenge is only for bike parks in Gauteng.</p>
                </div>
        </div>
        <div>
            <div class="panel-body"><a href = "/leaderboard1">Back to Bike Park Challenge</a></div>
        </div>
    </div>
</div>

<% include ./partials/footer %>