<% include partials/header %>

<div class="ui main text container segment">

      <!-- Feautured Bike Parks Section -->
      <h3><strong>Where to find the Pembi Bike Park Challenge Parks</strong></h3>
         
        <!-- Show all parks on Google Maps-->
        <!---------------------------------->
        <div class = "thumbnail">
            <div id="map"></div>
        </div>
        <!-- End of Google maps display-->


        <h3><strong>List of Bike Parks</strong></h3>

        <div id="toolbar">
            <input type="button" id = "button1" name="button1" class="btn btn-success" value="Select Bike Park then Click Here for the Details"/>
        </div>
 
        <table id = "table1" class = "table table-bordered table-hover display compact">
            <thead class="thead-inverse">
            <tr>
              <th>#</th>
              <th>Park Name</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
              
                <!--Build table content by iterating received object rows-->
                <% rows.forEach(function(row){ %>
                <tr>
                    <td id ="parkid"><%= row.id %></td>
                    <td id = "parkname"><%= row.name %></td>
                    <td id = "parklocation"><%= row.location %></td>
                </tr>    
                <% }) %>

          </tbody>
        </table>
</div> 


<!--SCRIPT START : Show Parks on Map-->

<script>
      function initMap() {
        var bounds = new google.maps.LatLngBounds();
        
        var myLatLng = {lat: -25.8, lng: 28.2};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: myLatLng
        });


    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow();
    var marker, i;
    
    $.get( "/allParkMapData", function( data ) {
     rows = data.rows;
     console.log(rows);
      // Loop through our array of markers & place each one on the map
        for( i = 0; i < rows.length; i++ ) {
            var position = new google.maps.LatLng( rows[i].latitude,  rows[i].longitude);
            bounds.extend(position); 
            marker = new google.maps.Marker({
              position: position,
              map: map,
              title: rows[i].name
            });
            
            // Allow each marker to have an info window    
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infoWindow.setContent(rows[i].info);
                    infoWindow.open(map, marker);
                }
            })(marker, i));
    
        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
        }
    });

        // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(12);
        google.maps.event.removeListener(boundsListener);
    });
        
  }
      
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeItwISa6X-I6t8DDnuAbhUSEo_FRHdkg&callback=initMap">
</script>

<!--END : Show Parks on Map-->


<!--Button TEST onclick-->
    <script>
    // OnClick change the rows colours to show selection
        $("tbody tr").click(function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            } else {
                $('.selected').removeClass('selected');
                $(this).addClass("selected");
            }
        });

        // OnClick button needs to grab data from selected row
        // Button to log a visit - posts selected row to mysql
        $( "#button1" ).click(function() {
            var value = $("#table1 tr.selected td:first").html(); //first TD element in the TR
            var url = "showOnePark/" + value;
            window.location.href=url;        // redirect to bike park page
        });

        // Initialising DataTables
        $(document).ready(function() {
          $('#table1').DataTable();
        } );    
      </script>
  
<% include ./partials/footer %>
