<% include ./partials/header %>


<div class = "ui main text container segment">
<h3>You are now on the skills page</h3>

    <div>
        <a href = "/">Back to Landing Page</a>
    </div>
</div>

<% include ./partials/footer %>