.selected {
    background-color: #b6b6b6 !important;
    color:#fff;
    vertical-align: middle;
    padding: 1.5em;
            }

.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

body {
    font-family: Raleway;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 1.25rem;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-text:last-child {
  margin-bottom: 0;
}

.h-100 {
  height: 100% !important;
}

.glyphicon {
    font-size: 75px;
}

.list-group .active {
   background: green !important;
}

.jumbotron {
    background-image: url("https://i.pinimg.com/originals/ca/6d/cb/ca6dcb0450eb5485e6050d815a875bda.jpg");
    background-color: #b6b6b6;
    /*margin-bottom: 0;`enter code here`*/
    height: 400px; 
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.page {
    position: relative;
    display: none;
    overflow: scroll;
}